In [1]:
import  pandas as pd

data = pd.read_csv('count_data.csv')
print(data.head())

           X          Y Unique Squirrel ID Hectare Shift      Date  \
0 -73.956134  40.794082     37F-PM-1014-03     37F    PM  10142018
1 -73.957044  40.794851     37E-PM-1006-03     37E    PM  10062018
2 -73.976831  40.766718      2E-AM-1010-03     02E    AM  10102018
3 -73.975725  40.769703      5D-PM-1018-05     05D    PM  10182018
4 -73.959313  40.797533     39B-AM-1018-01     39B    AM  10182018

   Hectare Squirrel Number       Age Primary Fur Color Highlight Fur Color  \
0                        3       NaN               NaN                 NaN
1                        3     Adult              Gray            Cinnamon
2                        3     Adult          Cinnamon                 NaN
3                        5  Juvenile              Gray                 NaN
4                        1       NaN               NaN                 NaN

   ...   Kuks  Quaas  Moans Tail flags Tail twitches  Approaches  Indifferent  \
0  ...  False  False  False      False         False       False        False
1  ...  False  False  False      False         False       False        False
2  ...  False  False  False      False         False       False         True
3  ...  False  False  False      False         False       False        False
4  ...   True  False  False      False         False       False        False

   Runs from  Other Interactions                                      Lat/Long
0      False                 NaN    POINT (-73.9561344937861 40.7940823884086)
1       True                  me  POINT (-73.9570437717691 40.794850940803904)
2      False                 NaN   POINT (-73.9768311751004 40.76671780725581)
3       True                 NaN    POINT (-73.9757249834141 40.7697032606755)
4      False                 NaN     POINT (-73.9593126695714 40.797533370163)

[5 rows x 31 columns]

In [2]:
colour = data['Primary Fur Color'].value_counts()
print(colour)

Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64